<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Basic HTML Template</title>
  </head>
  <body>
    <div class="container-title">
      <h1 class="title">This is the Title!</h1>
    </div>
    <div class="container-content">
      <h3>Article Title</h3>
      <br />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem
        exercitationem cumque suscipit, neque asperiores reprehenderit mollitia
        illo iure dignissimos harum repellendus ullam ipsum error, tenetur
        voluptatum quae voluptate similique nostrum aperiam dolorum eaque totam
        doloremque. Voluptates odio enim libero! Culpa magnam commodi placeat
        delectus nobis odit repellat fuga nihil! Id?
      </p>
    </div>
    <div class="container-footer">
      <p>This could be your footer text...</p>
    </div>
  </body>
</html>
